.share {
  position: relative;
  display: flex;
  align-items: center;

  i {
    padding: 12px;
    font-size: 36px;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  &::before {
    content: "Share :";
    position: absolute;
    top: 24%;
    left: -16%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &.column {
    margin-left: -12px;

    &::before {
      content: "Share this post";
      top: -36px;
      left: 12px;
      font-size: 18px;
    }
  }
}
