.courseDetail {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      color: #264653;
      font-size: 42px;
      font-weight: 700;
    }
  }

  .player {
    display: flex;
    gap: 24px;

    .video {
      flex: 70%;
    }

    .list {
      flex: 30%;
    }
  }

  .main {
    display: flex;
    gap: 24px;

    .content {
      flex: 70%;

      .tab {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        div {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 16px;

          &:hover {
            cursor: pointer;
            opacity: 0.75;
          }
        }
      }
    }

    .side {
      flex: 30%;

      .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        background: #fff;
      }
    }
  }

  .teacher {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
    padding: 32px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    .title {
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 32px;
      font-weight: 700;

      div {
        &:last-child {
          font-size: 26px;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      gap: 32px;

      .des {
        font-size: 18px;
      }
    }
  }
}
