.courseDetail {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      color: #264653;
      font-size: 42px;
      font-weight: 700;
    }

    .share {
      position: relative;
      display: flex;
      align-items: center;

      i {
        padding: 12px;
        font-size: 36px;

        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }

      &::before {
        content: "Share :";
        position: absolute;
        top: 24%;
        left: -16%;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .player {
    display: flex;
    gap: 24px;

    .video {
      flex: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 460px;
      background: #eee;

      i {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        font-size: 32px;
        border: 3px solid #333;
        border-radius: 100%;

        &:after {
          content: "Video";
          position: absolute;
          bottom: -50%;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

    .list {
      flex: 30%;
      height: 460px;
      overflow-x: scroll;

      .box {
        padding: 24px;
        background: #fff;
        box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.03);

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            &:first-child {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .main {
    display: flex;
    gap: 24px;

    .content {
      flex: 70%;

      .tab {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        div {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 16px;

          &:hover {
            cursor: pointer;
            opacity: 0.75;
          }
        }
      }
    }

    .side {
      flex: 30%;

      .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        background: #fff;

        .info {
          color: #666;

          span {
            &:not(:last-child):after {
              content: "・";
            }
          }
        }

        .review {
          display: flex;
          align-items: center;
          gap: 16px;

          .star {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 24px;
          }
        }

        .price {
          color: #e76f51;
          font-style: italic;
          font-size: 36px;
          font-weight: 700;
        }
      }
    }
  }

  .teacher {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
    padding: 32px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    .title {
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 32px;
      font-weight: 700;

      div {
        &:last-child {
          font-size: 26px;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      gap: 32px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        font-size: 24px;
        border: 2px solid #333;
        border-radius: 100%;
      }

      .des {
        font-size: 18px;
      }
    }
  }
}
