.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 8px;
    background: #fff;

    &.active,
    &:hover {
      color: #fff;
      background: #000;
      cursor: pointer;
    }
  }
}
